name: Build

on:
  push:
  pull_request:

jobs:
  BuildAndTest:
    name: Build and Test
    permissions: write-all
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Build
        uses: MrKWatkins/dotnet-build@main
        env:
          DEEPSOURCE_DSN: ${{ secrets.DEEPSOURCE_DSN }}
        with:
          name: MrKWatkins.BinaryPrimitives
          directory: src