name: Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version Number'
        required: true
        type: string

jobs:
  Release:
    name: Release ${{ inputs.version }}
    permissions: write-all
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ github.token }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Publish to NuGet
        uses: MrKWatkins/nuget-publish@main
        with:
          directory: src
          nuget-api-key: ${{ secrets.NUGET_API_KEY }}
          version: ${{ inputs.version }}

      - name: Build
        uses: MrKWatkins/dotnet-build@main
        with:
          name: MrKWatkins.BinaryPrimitives
          directory: src

      - name: Restore .NET tools
        run: dotnet tool restore

      - name: Install Sesharp
        run: dotnet tool install MrKWatkins.Sesharp.Tool

      - name: Make API Docs Directory
        run: mkdir doc/docs/API
        
      - name: Generate API Docs
        run: dotnet sesharp src/MrKWatkins.BinaryPrimitives/bin/Release/net10.0/MrKWatkins.BinaryPrimitives.dll doc/docs/API

      - name: Deploy docs
        uses: mhausenblas/mkdocs-deploy-gh-pages@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CONFIG_FILE: doc/mkdocs.yml
          REQUIREMENTS: doc/requirements.txt
